[data-scope-path="posts/index"]

  .sidebar_layout
    margin: 16px 0px;
    @include sidebar_layout(30%);

    .sidebar
      padding-right: 8px;
      box-sizing: border-box;
      border-right: 1px solid $cAccent2;

      .test
        height: 100px;
        background-color: $cAccent2;

    .main
      box-sizing: border-box;
      padding-left: 8px;


